<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ConfigContextApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>ApplictionName</param-name>
  	<param-value>ConfigContextApplication</param-value>
  </context-param>
  
  <servlet>
	 <servlet-name>First</servlet-name>
	 <servlet-class>com.servlet.FirstServlet</servlet-class>
	 <init-param>
	   <param-name>msg</param-name>
	   <param-value>Welcome to first servlet</param-value>
	 </init-param>
  </servlet>
  <servlet-mapping>
	  <servlet-name>First</servlet-name>
	  <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet>
	 <servlet-name>Second</servlet-name>
	 <servlet-class>com.servlet.SecondServlet</servlet-class>
	 <init-param>
	    <param-name>msg</param-name>
	    <param-value>Welcome to second servlet</param-value>
	 </init-param>
  </servlet>
  <servlet-mapping>
	  <servlet-name>Second</servlet-name>
	  <url-pattern>/second</url-pattern>
  </servlet-mapping>
  
  
</web-app>